.kotak{
  animation: bounce 5s infinite;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  position: relative;
  background-color: pink;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.container{
  display: flex;
  gap: 1rem;
}

@keyframes bounce {
  from {top: 0;}
  to {top: 20px;}
}
.body, html {
  background-color: rgb(194, 49, 185);
  margin: 0;
  width: 100%;
}
.bom {
width: 200px;
height: 100px;
background-color: blueviolet;
position: absolute;
top: 200px;
left: 100px;
border-radius: 10px;
}
.teks {
  position: relative;
  left: 20px;
  animation: fadeIn 2s;
}
@keyframes  fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}

.container1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /* Agar tidak menghalangi interaksi */
}

.floating-image {
    position: absolute;
    bottom: -100px; /* Mulai dari bawah */
    opacity: 0; /* Mulai menghilang */
    animation: floatUp 100s  infinite forwards; /* Animasi */
}

@keyframes floatUp {
    0% {
        bottom: -100px;
        opacity: 0;
    }
    10% {
        opacity: 1; /* Mulai muncul */
    }
    100% {
        bottom: 100vh; /* Sampai atas */
        opacity: 0; /* Menghilang */
    }
}
